@import "global.css";

body {
    background:var(--bg);
    background-size: cover;
}

#alerts, #stats {
    margin: 20px;
    padding: 10px;
    background: var(--other);
    border: 1px solid var(--border);
    width:calc(100% - 60px);
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
