/* Created by Dominik Honzak */
@import "global.css";

body {
    background:var(--bg);
    background-size: cover;
}

.module {
    text-align: center;
    backdrop-filter: blur(20px);
    flex-direction: column;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    height: auto;
    width: calc(100% - 82px);
    padding: 20px;
    margin: 20px;
    border: 1px solid var(--border);
}
.module button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--text);
    color: var(--bg);
    cursor: pointer;
    outline: none;
}
#alerts div {
    background: var(--alert);
    color: var(--bg);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}