@import "global.css";

body {
    background:url('../pics/download.jpg') no-repeat center center fixed;
    background-size: cover;
}

.tab {
    text-align: center;
    background: var(--other);
    backdrop-filter: blur(20px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: calc(100% - 80px);
    padding: 20px;
    display:none;
}
.tab h2 {
    margin-bottom: 20px;
    color: var(--text);
}
.tab input {
    outline:none;
    padding: 10px;
    margin: 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
    width: calc(100% - 40px);
}
.tab input:focus {
    border-color: var(--text);
}
.tab button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--text);
    cursor: pointer;
    outline: none;
}
.show {
    display:block;
}
#emailAddon {
    display:none;
}